@layer utilities {
  .link {
    transition: all 0.2s ease-in-out;
    @apply font-inter text-lg cursor-pointer text-charcoal px-2 rounded-full;
    &:hover {
      box-shadow: 3px 3px 5px #737d84, -2px -2px 5px white;
      @apply text-slater;
    }
    &:active {
      transition: all linear 0s;
      box-shadow: 1px 1px 4px #737d84, -1px -1px 4px white;
    }
  }

  .logo {
    @apply font-montserrat text-lg font-medium;
  }

  .home-text {
    backdrop-filter: blur(2px);
    @apply text-justify w-2/5 text-charcoal font-inter text-2xl
    max-lg:absolute max-lg:bottom-0 max-lg:w-full max-lg:bg-white
    max-lg:bg-opacity-60 max-xl:p-1 max-xl:text-xl max-sm:text-base;
  }

  .image {
    width: fit-content;
    height: 100%;
    object-fit: scale-down;

    @media screen and (max-width: 500px) {
      object-fit: cover;
    }
  }

  .wrapper {
    @apply flex flex-col w-3/5 overflow-hidden
    max-xl:w-4/5 max-md:w-full max-md:px-4;
  }

  .services-title {
    @apply font-montserrat text-3xl font-bold text-charcoal
    max-sm:text-base max-sm:font-semibold overflow-hidden;
  }

  .services-text {
    @apply font-inter text-lg text-charcoal text-justify
    max-sm:text-sm overflow-hidden;
  }

  .full-screen:before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
