@layer utilities {
  /*--------------- COMMON ---------------*/
  .page-view {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @apply relative flex;
  }
  .button {
    transition: all ease-in-out 0.2s;
    @apply cursor-pointer select-none px-2 py-1 rounded-xl
    text-fontSecondaryLt font-inter bg-focusPrimeryLt
    border-solid border-2 border-focusPrimeryLt;
    &:hover {
      transition: all ease-in-out 0.2s;
      @apply border-focusSecondaryLt;
    }
    &:active {
      transition: all ease-in-out 0.2s;
      @apply bg-focusSecondaryLt;
    }
  }
  /*--------------- TYPOGRAPHY ---------------*/
  a {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
  }
  p {
    line-height: 1.1;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
  }
  h2 {
    line-height: 1;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  }
  h3 {
    line-height: 1;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  }
  h4 {
    line-height: 1;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  }
  h5 {
    line-height: 1;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
  }
  /*--------------- NAVIBAR ---------------*/
  .navibar-item {
    @apply flex w-fit h-fit;
  }
  .navibar-link {
    transition: all ease-in-out 0.2s;
    @apply font-inter cursor-pointer py-1 px-2 rounded-xl;
    &:hover {
      box-shadow: 3px 3px 5px black, -2px -2px 5px white;
    }
    &:active {
      transition: all linear 0s;
      box-shadow: 1px 1px 4px black, -1px -1px 4px white;
    }
  }
  /*--------------- HOME ---------------*/
  .home__header {
    @apply w-1/3 flex flex-col max-md:absolute max-md:w-5/6
    max-md:z-10 max-md:bg-bgSecondaryTransLt rounded-xl
    max-md:p-4;
  }
  .home__title {
    font-weight: 600;
    @apply font-montserrat;
  }
  .home__subtitle {
    @apply font-inter;
  }
  .home__link {
    @apply w-fit p-2;
  }
  .home__contacts {
    line-height: 1;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    @apply text-fontPrimaryLt font-inter flex gap-2 items-center;
    &:hover {
      @apply text-focusPrimeryLt;
    }
  }
  .home__contacts:hover > img {
    filter: invert(50%) sepia(75%) saturate(318%) hue-rotate(191deg)
      brightness(90%) contrast(89%);
  }
  .home__image {
    object-fit: cover;
    @apply pointer-events-none;
  }
  /*--------------- SERVICES ---------------*/
  .services__wrapper {
    @apply w-5/6 h-5/6 flex flex-col items-center justify-center gap-8
    max-2xl:w-full max-2xl:mx-8 max-md:gap-4 max-md:mx-4;
  }
  .services__tablet {
    @apply w-full h-full flex items-center justify-center gap-8
    max-lg:flex-col max-md:gap-4;
  }
  .services__card {
    max-height: 378px;
    @apply relative w-full h-full flex items-center justify-center
    rounded-xl bg-bgSecondaryLt shadow-xl;
  }
  .services__text {
    @apply w-2/3 h-full flex flex-col gap-4 p-4 max-xl:w-full
    max-md:gap-2;
  }
  .services__title {
    @apply font-montserrat font-semibold text-fontPrimaryLt;
  }
  .services__description {
    line-height: 1.1;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    @apply font-inter text-fontPrimaryLt;
  }
  .services__image {
    @apply w-1/3 h-full p-4 flex max-xl:hidden;
  }
  .services__image > img {
    @apply w-full h-full object-scale-down;
  }
  /*--------------- GALLERY ---------------*/
  .gallery__image {
    user-select: none;
    @apply w-full h-full object-scale-down pointer-events-none;
  }
  .gallery__placeholder {
    @apply w-full h-full bg-tabletLt rounded-xl shadow-lg p-2;
  }
  .gallery__button {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 12%;
  }
  /*--------------- CONTACTS ---------------*/
  .contacts__view {
    width: 100%;
    height: 10vh;
    overflow: hidden;
  }
  .contacts__link {
    line-height: 1;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    @apply text-fontSecondaryLt font-inter flex gap-2 items-center;
    &:hover {
      @apply text-focusPrimeryLt;
    }
  }
  .contacts__icon {
    filter: invert(100%) sepia(49%) saturate(24%) hue-rotate(160deg)
      brightness(113%) contrast(92%);
  }
  .contacts__link:hover > img {
    filter: invert(50%) sepia(75%) saturate(318%) hue-rotate(191deg)
      brightness(90%) contrast(89%);
  }
  /*--------------- MODALS ---------------*/
  .modal__view {
    width: 100%;
    height: 100vh;
    @apply fixed flex top-0 bottom-0 left-0 right-0 z-50
    justify-center items-center bg-black bg-opacity-80;
  }
  .modal__tablet {
    @apply relative flex justify-center items-center bg-tabletLt
    rounded-xl w-5/6 h-5/6;
  }
  .modal__grid {
    @apply w-full h-full grid gap-4 grid-cols-3 max-xl:grid-cols-2
    max-sm:grid-cols-1 overflow-y-scroll justify-center items-center;
  }
  .modal__photo {
    width: 80%;
    height: 80%;
    object-fit: scale-down;
    @apply pointer-events-none;
  }
  .modal__image {
    width: 100%;
    padding: 16px;
    object-fit: scale-down;
    @apply pointer-events-none;
  }
  .modal-button {
    transition: all ease-in-out 0.2s;
    @apply absolute bg-focusPrimeryLt rounded-full p-2;
    &:hover {
      transition: all ease-in-out 0.2s;
      @apply bg-focusSecondaryLt;
    }
  }
  .modal-button.prev {
    bottom: 5%;
    left: 5%;
  }
  .modal-button.next {
    bottom: 5%;
    right: 5%;
  }
  .modal-button.close {
    top: 5%;
    right: 5%;
  }
}
